* {
    font-family: serif;
}


.title-home {
    text-align: center;
    text-decoration: underline;
}

.list-home {
    padding: 5px;
    font-weight: bold;
}

.recipie-title {
    text-align: center;
}

